
.App {
  padding: 50px;
}

.app-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.inputs-container {
  display: flex;
  align-items: center;
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.connected-load {
 position: absolute;
 left: 10%;
 top: 4%;
}

.max-capacity {
  position: absolute;
  right: 10%;
  top: 4%;
}

.plug-in-container {
  width: 200px;
  margin-right: 25px;
  margin-bottom: 35px;
}